# OS files
.DS_Store

# Local environment
.envrc

# IDE/editor files
.idea/
.history/
*.code-workspace
*.code-workspace.bak

# VS Code and related
.vscode/
.vscode-test/
.vscode-insiders/
.vscode-remote/
.vscode-server/
.vscode-remote-containers/
.vscode-remote-ssh/
portable-vscode

# VS Code extension packaging artifacts
*.vsix
*.vsixmanifest
*.vsixpackage

# Local project artifacts
it-help-investigation-agent-network
